<div >
    <div class="doc-review">

        <div class="dashboard-header">
            <div class="header-back">
                <h3>Reviews</h3>
            </div>
        </div>

        <!-- Review Listing -->
        <ul class="comments-list" *ngIf="isDateRangeValid">

            <li class="over-all-review">
                <div class="review-content">
                    <div class="review-rate">
                        <h6>Overall Rating</h6>
                        <div class="star-rated">
                            <span>{{ averageRating }}</span>
                            <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
                              <i class="fa-solid fa-star" [class.filled]="i < averageRatingRounded"></i>
                            </ng-container>
                        </div>
                    </div>
                    <div class="position-relative daterange-wraper">
                        <div class="input-groupicon calender-input">
                            <input type="date" class="form-control" [(ngModel)]="startDate" [max]="endDate" (change)="onDateChange(startDate, endDate)">
                            <input type="date" class="form-control" [(ngModel)]="endDate" [min]="startDate" (change)="onDateChange(startDate, endDate)">
                        </div>
                        <i class="isax isax-calendar-1"></i>
                    </div>
                </div>
            </li>
            <ng-container *ngIf="reviews.length; else noReviews">
              <li *ngFor="let review of reviews">
                <div class="comments">
                  <div class="comment-head">
                    <div class="patinet-information">
                      <a href="javascript:void(0);">
                        <img [src]="review.patientPhoto.url || 'assets/img/doctors-dashboard/profile-01.jpg'" alt="User Image">
                      </a>
                      <div class="patient-info">
                        <h6><a href="javascript:void(0);">{{ review.patientName }}</a></h6>
                        <span>{{ review.creatDate }}</span>
                      </div>
                    </div>
                    <div class="star-rated">
                      <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
                        <i class="fa-solid fa-star" [class.filled]="i < review.rate"></i>
                      </ng-container>
                    </div>
                  </div>
                  <div class="review-info">
                    <p>{{ review.review }}</p>
                    <div class="comment-reply" *ngIf="review.reply">
                      <span class="d-inline-flex align-items-center replied-text"><i class="fa-solid fa-reply me-2"></i> {{ review.reply }}</span>
                    </div>
                  </div>
                </div>
              </li>
            </ng-container>
            <ng-template #noReviews>
              <li><div class="comments">No reviews found for the selected period.</div></li>
            </ng-template>
        </ul>
        <!-- /Comment List -->

        <!-- Pagination -->
        <div class="pagination dashboard-pagination" *ngIf="totalPages > 1">
            <ul>
                <li>
                    <a href="#" class="page-link" (click)="prevPage(); $event.preventDefault();"><i class="fa-solid fa-chevron-left"></i></a>
                </li>
                <li *ngFor="let p of [].constructor(totalPages); let i = index">
                    <a href="#" class="page-link" [class.active]="i === page" (click)="goToPage(i); $event.preventDefault();">{{ i + 1 }}</a>
                </li>
                <li>
                    <a href="#" class="page-link" (click)="nextPage(); $event.preventDefault();"><i class="fa-solid fa-chevron-right"></i></a>
                </li>
            </ul>
        </div>
        <!-- /Pagination -->

    </div>
</div>
