<div>
    
    <div class="dashboard-header">
        <h3>Speciality &amp; Services</h3>
        <ul>
            <li>
                <a href="#" class="btn btn-primary prime-btn add-speciality">Add New Speciality</a>
            </li>
        </ul>
    </div>
    
    <div class="accordions" id="list-accord">

        <!-- Spaciality Item -->
        
        <!-- /Spaciality Item -->

        <!-- Spaciality Item -->
        <div class="user-accordion-item" *ngFor="let specialty of specialties; let i = index">
            <a href="#" class="accordion-wrap" 
                data-bs-toggle="collapse" 
                [attr.data-bs-target]="'#specialty-' + i">
                {{ specialty.speciality }}
                <span (click)="deleteSpecialityById(specialty.id)">Delete</span>
            </a>

            <div class="accordion-collapse collapse show" 
                [attr.id]="'specialty-' + i" 
                data-bs-parent="#list-accord">
                <div class="content-collapse">
                <div class="add-service-info">
                    <div class="add-info">
                    <div class="row">
                        <div class="col-md-4">
                        <div class="form-wrap">
                            <label class="form-label">Speciality <span class="text-danger">*</span></label>
                            <select class="form-select" [(ngModel)]="specialty.speciality">
                            <option *ngFor="let s of allSpecialtyOptions" [value]="s">{{ s }}</option>
                            </select>
                        </div>
                        </div>
                    </div>

                    <div class="row service-cont" *ngFor="let service of specialty.services; let j = index">
                        <div class="col-md-3">
                        <div class="form-wrap">
                            <label class="form-label">Service <span class="text-danger">*</span></label>
                            <select class="form-select" [(ngModel)]="service.serviceType">
                            <option *ngFor="let type of allServiceOptions" [value]="type">{{ type }}</option>
                            </select>
                        </div>
                        </div>
                        <div class="col-md-2">
                        <div class="form-wrap">
                            <label class="form-label">Price ($) <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" [(ngModel)]="service.price" />
                        </div>
                        </div>
                        <div class="col-md-7">
                        <div class="d-flex align-items-center">
                            <div class="form-wrap w-100">
                            <label class="form-label">About Service</label>
                            <input type="text" class="form-control" [(ngModel)]="service.hint" />
                            </div>
                            <div class="form-wrap ms-2">
                            <label class="col-form-label d-block">&nbsp;</label>
                            <a href="#" class="trash-icon trash" (click)="deleteServiceById(service.id, specialty.id)">Delete</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>

                    <div class="text-end">
                    <a href="#" class="add-serv more-item mb-0" (click)="1">Add New Service</a>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <!-- /Spaciality Item -->

    </div>

    <div class="modal-btn text-end">
        <a href="#" class="btn btn-gray">Cancel</a>
        <button class="btn btn-primary prime-btn">Save Changes</button>
    </div>

</div>