<div>
    
    <div class="dashboard-header">
        <h3>Speciality &amp; Services</h3>
        <ul>
            <li>
                <a href="#" class="btn btn-primary prime-btn add-speciality">Add New Speciality</a>
            </li>
        </ul>
    </div>
    
    <div class="accordions" id="list-accord">

        <!-- Spaciality Item -->
        <div class="user-accordion-item">
            <a href="#" class="accordion-wrap" data-bs-toggle="collapse" data-bs-target="#cardiology">Cardiology<span>Delete</span></a>
            <div class="accordion-collapse collapse show" id="cardiology" data-bs-parent="#list-accord">
                <div class="content-collapse">
                    <div class="add-service-info">
                        <div class="add-info">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-wrap">
                                        <label class="form-label">Speciality <span class="text-danger">*</span></label>
                                        <select class="select select2-hidden-accessible" data-select2-id="4" tabindex="-1" aria-hidden="true">
                                            <option data-select2-id="6">Cardiology</option>
                                            <option>Neurology</option>
                                            <option>Urology</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="5" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-goua-container"><span class="select2-selection__rendered" id="select2-goua-container" role="textbox" aria-readonly="true" title="Cardiology">Cardiology</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>													
                                </div>
                            </div>
                            <div class="row service-cont">
                                <div class="col-md-3">
                                    <div class="form-wrap">
                                        <label class="form-label">Service <span class="text-danger">*</span></label>
                                        <select class="select select2-hidden-accessible" data-select2-id="7" tabindex="-1" aria-hidden="true">
                                            <option data-select2-id="9">Select Service</option>
                                            <option>Surgery</option>
                                            <option>General Checkup</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="8" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-mvpb-container"><span class="select2-selection__rendered" id="select2-mvpb-container" role="textbox" aria-readonly="true" title="Select Service">Select Service</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>													
                                </div>
                                <div class="col-md-2">
                                    <div class="form-wrap">
                                        <label class="form-label">Price ($) <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" placeholder="454">
                                    </div>													
                                </div>
                                <div class="col-md-7">
                                    <div class="d-flex align-items-center">
                                        <div class="form-wrap w-100">
                                            <label class="form-label">About Service</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-wrap ms-2">
                                            <label class="col-form-label d-block">&nbsp;</label>
                                            <a href="#" class="trash-icon trash">Delete</a>
                                        </div>												
                                    </div>													
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <a href="#" class="add-serv more-item mb-0">Add New Service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Spaciality Item -->

        <!-- Spaciality Item -->
        <div class="user-accordion-item">
            <a href="#" class="accordion-wrap collapsed" data-bs-toggle="collapse" data-bs-target="#neurology">Neurology<span>Delete</span></a>
            <div class="accordion-collapse" id="neurology" data-bs-parent="#list-accord">
                <div class="content-collapse">
                    <div class="add-service-info">
                        <div class="add-info">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-wrap">
                                        <label class="form-label">Speciality <span class="text-danger">*</span></label>
                                        <select class="select select2-hidden-accessible" data-select2-id="10" tabindex="-1" aria-hidden="true">
                                            <option>Cardiology</option>
                                            <option selected="" data-select2-id="12">Neurology</option>
                                            <option>Urology</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="11" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-ngy6-container"><span class="select2-selection__rendered" id="select2-ngy6-container" role="textbox" aria-readonly="true" title="Neurology">Neurology</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>													
                                </div>
                            </div>
                            <div class="row service-cont">
                                <div class="col-md-3">
                                    <div class="form-wrap">
                                        <label class="form-label">Service <span class="text-danger">*</span></label>
                                        <select class="select select2-hidden-accessible" data-select2-id="13" tabindex="-1" aria-hidden="true">
                                            <option data-select2-id="15">Select Service</option>
                                            <option>Surgery</option>
                                            <option>General Checkup</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="14" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-vimj-container"><span class="select2-selection__rendered" id="select2-vimj-container" role="textbox" aria-readonly="true" title="Select Service">Select Service</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>													
                                </div>
                                <div class="col-md-2">
                                    <div class="form-wrap">
                                        <label class="form-label">Price ($) <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" placeholder="454">
                                    </div>													
                                </div>
                                <div class="col-md-7">
                                    <div class="d-flex align-items-center">
                                        <div class="form-wrap w-100">
                                            <label class="form-label">About Service</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-wrap ms-2">
                                            <label class="col-form-label d-block">&nbsp;</label>
                                            <a href="#" class="trash-icon trash">Delete</a>
                                        </div>												
                                    </div>													
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <a href="#" class="add-serv more-item mb-0">Add New Service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Spaciality Item -->

        <!-- Spaciality Item -->
        <div class="user-accordion-item">
            <a href="#" class="accordion-wrap collapsed" data-bs-toggle="collapse" data-bs-target="#urology">Urology<span>Delete</span></a>
            <div class="accordion-collapse" id="urology" data-bs-parent="#list-accord">
                <div class="content-collapse">
                    <div class="add-service-info">
                        <div class="add-info">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-wrap">
                                        <label class="form-label">Speciality <span class="text-danger">*</span></label>
                                        <select class="select select2-hidden-accessible" data-select2-id="16" tabindex="-1" aria-hidden="true">
                                            <option>Cardiology</option>
                                            <option>Neurology</option>
                                            <option selected="" data-select2-id="18">Urology</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="17" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-lswe-container"><span class="select2-selection__rendered" id="select2-lswe-container" role="textbox" aria-readonly="true" title="Urology">Urology</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>													
                                </div>
                            </div>
                            <div class="row service-cont">
                                <div class="col-md-3">
                                    <div class="form-wrap">
                                        <label class="form-label">Service <span class="text-danger">*</span></label>
                                        <select class="select select2-hidden-accessible" data-select2-id="19" tabindex="-1" aria-hidden="true">
                                            <option data-select2-id="21">Select Service</option>
                                            <option>Surgery</option>
                                            <option>General Checkup</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="20" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-bsdl-container"><span class="select2-selection__rendered" id="select2-bsdl-container" role="textbox" aria-readonly="true" title="Select Service">Select Service</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>													
                                </div>
                                <div class="col-md-2">
                                    <div class="form-wrap">
                                        <label class="form-label">Price ($) <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" placeholder="454">
                                    </div>													
                                </div>
                                <div class="col-md-7">
                                    <div class="d-flex align-items-center">
                                        <div class="form-wrap w-100">
                                            <label class="form-label">About Service</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-wrap ms-2">
                                            <label class="col-form-label d-block">&nbsp;</label>
                                            <a href="#" class="trash-icon trash">Delete</a>
                                        </div>												
                                    </div>													
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <a href="#" class="add-serv more-item mb-0">Add New Service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Spaciality Item -->

    </div>

    <div class="modal-btn text-end">
        <a href="#" class="btn btn-gray">Cancel</a>
        <button class="btn btn-primary prime-btn">Save Changes</button>
    </div>

</div>