

<!-- Main Wrapper -->
<div class="main-wrapper">


  <!-- Header -->
  <header class="header header-custom header-fixed inner-header relative">
    <div class="container">
      <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
          <a id="mobile_btn" href="javascript:void(0);">
            <span class="bar-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>
          <a href="index.html" class="navbar-brand logo">
            <img src="./assets/img/logo.svg" class="img-fluid" alt="Logo">
          </a>
        </div>
        <div class="header-menu">
         
          <ul class="nav header-navbar-rht">
            <li class="searchbar">
              <a href="javascript:void(0);"><i class="feather-search"></i></a>
              <div class="togglesearch">
                <form action="https://doccure.dreamstechnologies.com/html/template/search.html">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <button type="submit" class="btn">Search</button>
                  </div>
                </form>
              </div>
            </li>
            <li *ngIf="!isLoggedIn">
              <a routerLink="/login" class="btn btn-md btn-primary-gradient d-inline-flex align-items-center rounded-pill"><i class="isax isax-lock-1 me-1"></i>Sign In</a>
            </li>
            <li *ngIf="!isLoggedIn">
              <a routerLink="/register" class="btn btn-md btn-dark d-inline-flex align-items-center rounded-pill">
                <i class="isax isax-user-tick me-1"></i>Register
              </a> 
            </li> 
            <li *ngIf="isLoggedIn">
              <a href="javascript:void(0);" (click)="logout()" class="btn btn-md btn-danger d-inline-flex align-items-center rounded-pill">
                <i class="isax isax-logout me-1"></i>Logout
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- /Header -->
  <div class="pt-5">
  <router-outlet></router-outlet>
</div>

  <!-- Footer Section -->
 
  <!-- /Footer Section -->

  <!-- Cursor -->
  <div class="mouse-cursor cursor-outer"></div>
  <div class="mouse-cursor cursor-inner"></div>
  <!-- /Cursor -->

</div>
<!-- /Main Wrapper -->
    <!-- <div class="app-container">

      <a routerLink="/login">Login</a>
      <h1>hello from main app</h1>
      <main>

      </main>
    </div> -->
