<div >
    
    <div class="dashboard-header">
        <h3>Available Timings</h3>
    </div>
    
    <div class="appointment-tabs">
        <ul class="nav available-nav" role="tablist">
            <!-- <li class="nav-item" role="presentation">
                <a class="nav-link active" href="#" data-bs-toggle="tab" data-bs-target="#general-availability" aria-selected="true" role="tab">General Availability</a>
            </li>	 -->
            <!-- <li class="nav-item" role="presentation">
                <a class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#clinic-availability" aria-selected="false" tabindex="-1" role="tab">Clinic Availability</a>
            </li> -->
        </ul>
    </div>
    <div class="tab-content pt-0 timing-content">

        <!-- General Availability -->
       
        <!-- /General Availability -->

        <!-- Clinic Availability -->								
        <div class="tab-pane fade show active" id="clinic-availability" role="tabpanel">
           
            <div class="clinic-wrap">
                <h5>Select Clinic</h5>
        <ng-select class="row"
            [items]="clinics"
            bindLabel="clinicName"
            bindValue="id"
            [(ngModel)]="selectedClinicId"
            [clearable]="false"
            class="form-select">
            <ng-template class="select-img select2-hidden-accessible" ng-option-tmp let-item="item">
                <img [src]="item.logo?.url" width="32" class="me-2 clinic-img" />
                {{ item.clinicName }}
            </ng-template>
        </ng-select>
                <!-- <div class="row">
                    <div class="col-md-6">
                        <select class="select-img select2-hidden-accessible" data-select2-id="10" tabindex="-1" aria-hidden="true">
                            <option data-image="assets/img/doctors-dashboard/clinic-01.jpg" data-select2-id="12">The Family Dentistry Clinic</option>
                            <option data-image="assets/img/doctors-dashboard/clinic-02.jpg">Dentistry Clinic</option>
                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="11" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-6gv1-container"><span class="select2-selection__rendered" id="select2-6gv1-container" role="textbox" aria-readonly="true" title="The Family Dentistry Clinic"><span><img src="assets/img/doctors-dashboard/clinic-01.jpg" class="clinic-img"  width="32px"> The Family Dentistry Clinic</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                    </div>
                </div> -->
            </div>
            <div class="card custom-card">
                <div class="card-body">
                    <div class="card-header">
                        <h3>Select Available Slots</h3>
                    </div>

                    <!-- <div class="available-tab">
                        <label class="form-label">Select Available days</label>
                        <ul class="nav" role="tablist">
                            <li>
                                <a href="#" class="active" data-bs-toggle="tab" data-bs-target="#monday-slot" aria-selected="true" role="tab">Monday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#tuesday-slot" aria-selected="false" tabindex="-1" role="tab">Tuesday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#wednesday-slot" aria-selected="false" tabindex="-1" role="tab">Wedneday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#thursday-slot" aria-selected="false" tabindex="-1" role="tab">Thursday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#friday-slot" aria-selected="false" tabindex="-1" role="tab">Friday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#saturday-slot" aria-selected="false" tabindex="-1" role="tab">Saturday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#sunday-slot" aria-selected="false" tabindex="-1" role="tab">Sunday</a>
                            </li>
                        </ul>
                    </div> -->
                    <div class="available-tab">
                        <label class="form-label">Select Available days</label>
                        <ul class="nav" role="tablist">
                            <li *ngFor="let day of dayList">
                            <a href="#"
                                [class.active]="selectedDay === day.key"
                                (click)="onDayChange(day.key, $event)"
                                aria-selected="selectedDay === day.key">
                                {{ day.label }}
                            </a>
                            </li>
                        </ul>
                        </div>

                    <div class="tab-content pt-0">

                     <div class="tab-pane active show" [id]="selectedDay.toLowerCase() + '-slot'" role="tabpanel">
                        <div class="slot-box">
                            <div class="slot-header d-flex justify-content-between">
                            <h5>{{ selectedDay | titlecase }}</h5>
                            <ul>
                                <li>
                                    <a href="#" class="add-slot" (click)="openAddSlotModal($event)">Add Slots</a>
                                </li>
                                <!-- <li>
                                <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                </li> -->
                            </ul>
                            </div>

                            <div class="slot-body">
                            <ng-container *ngIf="daySlots.length > 0; else noSlots">
                                <ul class="time-slots">
                                <li *ngFor="let slot of daySlots">
                                    <i class="isax isax-clock"></i> <pre>{{ slot | json }}</pre>
                                </li>
                                </ul>
                            </ng-container>
                            <ng-template #noSlots>
                                <p>No Slots Available</p>
                            </ng-template>
                            </div>
                        </div>
                        </div>


                      
                    </div>

                </div>
            </div>
        </div>
        <!-- /Clinic Availability -->
         <!-- Add Slot Modal -->
<div class="modal fade" #addSlotModalRef tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Slot</h5>
        <button type="button" class="btn-close" (click)="closeAddSlotModal()" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <label for="startTime">Start Time</label>
            <input type="time" id="startTime" [(ngModel)]="newSlot.startTimeStr" class="form-control" />
          </div>
          <div class="col-md-6">
            <label for="endTime">End Time</label>
            <input type="time" id="endTime" [(ngModel)]="newSlot.endTimeStr" class="form-control" />
          </div>

          <div class="col-md-6 mt-3">
            <label for="interval">Appointment Interval (minutes)</label>
            <select id="interval" class="form-select" [(ngModel)]="newSlot.intervalMinutes">
              <option [ngValue]="10">10 Minutes</option>
              <option [ngValue]="20">20 Minutes</option>
              <option [ngValue]="30">30 Minutes</option>
            </select>
          </div>

          <div class="col-md-6 mt-3">
            <label for="duration">Appointment Duration (minutes)</label>
            <select id="duration" class="form-select" [(ngModel)]="newSlot.durationMinutes">
              <option [ngValue]="30">30 Minutes</option>
              <option [ngValue]="60">1 Hour</option>
            </select>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeAddSlotModal()">Cancel</button>
        <button class="btn btn-primary" (click)="saveSlot()">Save Changes</button>
      </div>
    </div>
  </div>
</div>

    </div>
</div>