<div >
    
    <div class="dashboard-header">
        <h3>Available Timings</h3>
    </div>
    
    <div class="appointment-tabs">
        <ul class="nav available-nav" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="#" data-bs-toggle="tab" data-bs-target="#general-availability" aria-selected="true" role="tab">General Availability</a>
            </li>	
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#clinic-availability" aria-selected="false" tabindex="-1" role="tab">Clinic Availability</a>
            </li>
        </ul>
    </div>
    <div class="tab-content pt-0 timing-content">

        <!-- General Availability -->
        <div class="tab-pane fade show active" id="general-availability" role="tabpanel">
            <div class="card custom-card">
                <div class="card-body">
                    <div class="card-header">
                        <h3>Select Available Slots</h3>
                    </div>

                    <div class="available-tab">
                        <label class="form-label">Select Available days</label>
                        <ul class="nav" role="tablist">
                            <li>
                                <a href="#" class="active" data-bs-toggle="tab" data-bs-target="#monday" aria-selected="true" role="tab">Monday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#tuesday" aria-selected="false" tabindex="-1" role="tab">Tuesday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#wednesday" aria-selected="false" tabindex="-1" role="tab">Wednesday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#thursday" aria-selected="false" tabindex="-1" role="tab">Thursday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#friday" aria-selected="false" tabindex="-1" role="tab">Friday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#saturday" aria-selected="false" tabindex="-1" role="tab">Saturday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#sunday" aria-selected="false" tabindex="-1" role="tab">Sunday</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content pt-0">

                        <!-- Slot -->
                        <div class="tab-pane active show" id="monday" role="tabpanel">
                            <div class="slot-box">
                                <div class="slot-header">
                                    <h5>Monday</h5>
                                    <ul>
                                        <li>
                                            <a href="#" class="add-slot" data-bs-toggle="modal" data-bs-target="#add_slot">Add Slots</a>
                                        </li>
                                        <li>
                                            <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slot-body">
                                    <ul class="time-slots">
                                        <li><i class="isax isax-clock"></i>09:00 AM</li>
                                        <li><i class="isax isax-clock"></i>09:30 AM</li>
                                        <li><i class="isax isax-clock"></i>10:00 AM</li>
                                        <li><i class="isax isax-clock"></i>10:30 AM</li>
                                        <li><i class="isax isax-clock"></i>11:00 AM</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /Slot -->

                        <!-- Slot -->
                        <div class="tab-pane fade" id="tuesday" role="tabpanel">
                            <div class="slot-box">
                                <div class="slot-header">
                                    <h5>Tuesday</h5>
                                    <ul>
                                        <li>
                                            <a href="#" class="add-slot" data-bs-toggle="modal" data-bs-target="#add_slot">Add Slots</a>
                                        </li>
                                        <li>
                                            <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slot-body">
                                    <p>No Slots Available</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Slot -->

                        <!-- Slot -->
                        <div class="tab-pane fade" id="wednesday" role="tabpanel">
                            <div class="slot-box">
                                <div class="slot-header">
                                    <h5>Wednesday</h5>
                                    <ul>
                                        <li>
                                            <a href="#" class="add-slot" data-bs-toggle="modal" data-bs-target="#add_slot">Add Slots</a>
                                        </li>
                                        <li>
                                            <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slot-body">
                                    <p>No Slots Available</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Slot -->

                        <!-- Slot -->
                        <div class="tab-pane fade" id="thursday" role="tabpanel">
                            <div class="slot-box">
                                <div class="slot-header">
                                    <h5>Thursday</h5>
                                    <ul>
                                        <li>
                                            <a href="#" class="add-slot" data-bs-toggle="modal" data-bs-target="#add_slot">Add Slots</a>
                                        </li>
                                        <li>
                                            <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slot-body">
                                    <p>No Slots Available</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Slot -->

                        <!-- Slot -->
                        <div class="tab-pane fade" id="friday" role="tabpanel">
                            <div class="slot-box">
                                <div class="slot-header">
                                    <h5>Friday</h5>
                                    <ul>
                                        <li>
                                            <a href="#" class="add-slot" data-bs-toggle="modal" data-bs-target="#add_slot">Add Slots</a>
                                        </li>
                                        <li>
                                            <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slot-body">
                                    <p>No Slots Available</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Slot -->

                        <!-- Slot -->
                        <div class="tab-pane fade" id="saturday" role="tabpanel">
                            <div class="slot-box">
                                <div class="slot-header">
                                    <h5>Saturday</h5>
                                    <ul>
                                        <li>
                                            <a href="#" class="add-slot" data-bs-toggle="modal" data-bs-target="#add_slot">Add Slots</a>
                                        </li>
                                        <li>
                                            <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slot-body">
                                    <p>No Slots Available</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Slot -->

                        <!-- Slot -->
                        <div class="tab-pane fade" id="sunday" role="tabpanel">
                            <div class="slot-box">
                                <div class="slot-header">
                                    <h5>Sunday</h5>
                                    <ul>
                                        <li>
                                            <a href="#" class="add-slot" data-bs-toggle="modal" data-bs-target="#add_slot">Add Slots</a>
                                        </li>
                                        <li>
                                            <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slot-body">
                                    <p>No Slots Available</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Slot -->

                        <div class="form-wrap">
                            <label class="col-form-label">Appointment Fees ($)</label>
                            <input type="text" class="form-control" value="254">
                        </div>
                        <div class="modal-btn text-end">
                            <a href="#" class="btn btn-gray" data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</a>
                            <button class="btn btn-primary prime-btn">Save Changes</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /General Availability -->

        <!-- Clinic Availability -->								
        <div class="tab-pane fade" id="clinic-availability" role="tabpanel">
            <div class="clinic-wrap">
                <h5>Select Clinic</h5>
                <div class="row">
                    <div class="col-md-6">
                        <select class="select-img select2-hidden-accessible" data-select2-id="10" tabindex="-1" aria-hidden="true">
                            <option data-image="assets/img/doctors-dashboard/clinic-01.jpg" data-select2-id="12">The Family Dentistry Clinic</option>
                            <option data-image="assets/img/doctors-dashboard/clinic-02.jpg">Dentistry Clinic</option>
                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="11" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-6gv1-container"><span class="select2-selection__rendered" id="select2-6gv1-container" role="textbox" aria-readonly="true" title="The Family Dentistry Clinic"><span><img src="assets/img/doctors-dashboard/clinic-01.jpg" class="clinic-img"  width="32px"> The Family Dentistry Clinic</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                    </div>
                </div>
            </div>
            <div class="card custom-card">
                <div class="card-body">
                    <div class="card-header">
                        <h3>Select Available Slots</h3>
                    </div>

                    <div class="available-tab">
                        <label class="form-label">Select Available days</label>
                        <ul class="nav" role="tablist">
                            <li>
                                <a href="#" class="active" data-bs-toggle="tab" data-bs-target="#monday-slot" aria-selected="true" role="tab">Monday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#tuesday-slot" aria-selected="false" tabindex="-1" role="tab">Tuesday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#wednesday-slot" aria-selected="false" tabindex="-1" role="tab">Wedneday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#thursday-slot" aria-selected="false" tabindex="-1" role="tab">Thursday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#friday-slot" aria-selected="false" tabindex="-1" role="tab">Friday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#saturday-slot" aria-selected="false" tabindex="-1" role="tab">Saturday</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="tab" data-bs-target="#sunday-slot" aria-selected="false" tabindex="-1" role="tab">Sunday</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content pt-0">

                        <!-- Slot -->
                        <div class="tab-pane active show" id="monday-slot" role="tabpanel">
                            <div class="slot-box">
                                <div class="slot-header">
                                    <h5>Monday</h5>
                                    <ul>
                                        <li>
                                            <a href="#" class="add-slot" data-bs-toggle="modal" data-bs-target="#add_slot">Add Slots</a>
                                        </li>
                                        <li>
                                            <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slot-body">
                                    <ul class="time-slots">
                                        <li><i class="isax isax-clock"></i>09:00 AM</li>
                                        <li><i class="isax isax-clock"></i>09:30 AM</li>
                                        <li class="slot-space">Space : 2</li>
                                        <li><i class="isax isax-clock"></i>10:30 AM</li>
                                        <li><i class="isax isax-clock"></i>11:00 AM</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /Slot -->

                        <!-- Slot -->
                        <div class="tab-pane fade" id="tuesday-slot" role="tabpanel">
                            <div class="slot-box">
                                <div class="slot-header">
                                    <h5>Tuesday</h5>
                                    <ul>
                                        <li>
                                            <a href="#" class="add-slot" data-bs-toggle="modal" data-bs-target="#add_slot">Add Slots</a>
                                        </li>
                                        <li>
                                            <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slot-body">
                                    <p>No Slots Available</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Slot -->

                        <!-- Slot -->
                        <div class="tab-pane fade" id="wednesday-slot" role="tabpanel">
                            <div class="slot-box">
                                <div class="slot-header">
                                    <h5>Wednesday</h5>
                                    <ul>
                                        <li>
                                            <a href="#" class="add-slot" data-bs-toggle="modal" data-bs-target="#add_slot">Add Slots</a>
                                        </li>
                                        <li>
                                            <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slot-body">
                                    <p>No Slots Available</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Slot -->

                        <!-- Slot -->
                        <div class="tab-pane fade" id="thursday-slot" role="tabpanel">
                            <div class="slot-box">
                                <div class="slot-header">
                                    <h5>Thursday</h5>
                                    <ul>
                                        <li>
                                            <a href="#" class="add-slot" data-bs-toggle="modal" data-bs-target="#add_slot">Add Slots</a>
                                        </li>
                                        <li>
                                            <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slot-body">
                                    <p>No Slots Available</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Slot -->

                        <!-- Slot -->
                        <div class="tab-pane fade" id="friday-slot" role="tabpanel">
                            <div class="slot-box">
                                <div class="slot-header">
                                    <h5>Friday</h5>
                                    <ul>
                                        <li>
                                            <a href="#" class="add-slot" data-bs-toggle="modal" data-bs-target="#add_slot">Add Slots</a>
                                        </li>
                                        <li>
                                            <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slot-body">
                                    <p>No Slots Available</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Slot -->

                        <!-- Slot -->
                        <div class="tab-pane fade" id="saturday-slot" role="tabpanel">
                            <div class="slot-box">
                                <div class="slot-header">
                                    <h5>Saturday</h5>
                                    <ul>
                                        <li>
                                            <a href="#" class="add-slot" data-bs-toggle="modal" data-bs-target="#add_slot">Add Slots</a>
                                        </li>
                                        <li>
                                            <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slot-body">
                                    <p>No Slots Available</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Slot -->

                        <!-- Slot -->
                        <div class="tab-pane fade" id="sunday-slot" role="tabpanel">
                            <div class="slot-box">
                                <div class="slot-header">
                                    <h5>Sunday</h5>
                                    <ul>
                                        <li>
                                            <a href="#" class="add-slot" data-bs-toggle="modal" data-bs-target="#add_slot">Add Slots</a>
                                        </li>
                                        <li>
                                            <a href="#" class="del-slot" data-bs-toggle="modal" data-bs-target="#delete_slot">Delete All</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slot-body">
                                    <p>No Slots Available</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Slot -->

                        <div class="form-wrap">
                            <label class="col-form-label">Appointment Fees ($)</label>
                            <input type="text" class="form-control" value="254">
                        </div>
                        <div class="modal-btn text-end">
                            <a href="#" class="btn btn-gray" data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</a>
                            <button class="btn btn-primary prime-btn">Save Changes</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /Clinic Availability -->

    </div>
</div>